@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,400&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  height: 8vh;
  align-items: center;
  width: 95%;
  margin: 0.5rem auto;
}

#nav .logo {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  margin-left: 2%;
}

#nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#nav ul li {
  width: auto;
  margin-right: 1rem;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

#nav ul li:nth-child(1) {
  border-right: 2px solid black;
}

#nav ul li:nth-child(2) {
  border-right: 2px solid black;
}

#nav ul li:hover {
  color: rgb(23, 105, 204);
  cursor: pointer;
}

#date {
  width: 95%;
  margin: 2px auto;
  display: flex;
  justify-content: flex-end;
}

h1,
h2 {
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
}

hr {
  border: 2px solid #000;
  width: 7rem;
}

p {
  text-transform: capitalize;
}

section {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  gap: 10px;
}

.active {
  display: block;
}

.non-active {
  display: none;
}

.book-container {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  gap: 10px;
}

.books-container {
  width: 80%;
  border: 2px solid black;
  margin: 10px 15px;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.books {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

#book {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
}

.books:nth-child(even) {
  background-color: #ddd;
}

.books:nth-child(odd) {
  background-color: #fff;
}

.remove {
  background-color: #fff;
  text-transform: capitalize;
  padding: 5px;
  border: 2px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
}

.form-container {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 15rem;
  border: 2px solid #000;
  border-left: 4px solid #000;
  padding: 0.4rem;
}

.add {
  width: 3rem;
  background-color: #fff;
  text-transform: capitalize;
  padding: 5px;
  border: 2px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  align-self: flex-end;
}

.contact-container {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 2rem;
}

footer {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  /* transform: translateX(2.5rem); */
}

footer p {
  display: flex;
  width: 95%;
  padding: 0.5rem;
  justify-content: center;
  border: 2px solid #000;
}
